#root {
  text-align: center;
}

.head{
  color: darkslategrey;
  text-align: left;
  margin-bottom: 10px;
}

.head-em{
  text-emphasis: italic;
  color: gray;
  display: block;

}
.table{
  border: darkgrey;
}